---
import Navigation from '../components/Navigation.astro';
import Nav from '../components/react/Nav';
import {Button} from "antd"
import "../style.scss"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <Nav client:load></Nav> -->
		<Navigation></Navigation>
		<slot />
		<div class="l-site">
			<footer class="l-footer--sticky p-strip--highlighted">
			  <nav class="row" aria-label="Footer">
				<div class="has-cookie">
				  <p>© 2024 EVA 汉化计划 <a href="#">Ubuntu</a> and <a href="#">Canonical</a> are registered trademarks of Canonical Ltd.</p>
				  <ul class="p-inline-list--middot">
					<li class="p-inline-list__item">
					  <a href="#"><small>Legal information</small></a>
					</li>
					<li class="p-inline-list__item">
					  <a href="#"><small>Report a bug on this site</small></a>
					</li>
				  </ul>
				  <span class="u-off-screen"><a href="#">Go to the top of the page</a></span>
				</div>
			  </nav>
			</footer>
		  </div>
	</body>
</html>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
