---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="l-docs">
    <div class="l-docs__title">
      <div class="p-strip is-shallow u-no-padding--bottom">
        <div class="u-fixed-width">
          <h1>{frontmatter.title}</h1>
          <hr />
        </div>
      </div>
    </div>
    <div class="l-docs__main">
      <div class="p-section">
        <main class="u-fixed-width">
          <slot />
        </main>
      </div>
    </div>
  </div>
</Layout>
