---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout title="1">
      <div id="main-content" class="p-section--hero">
        <div class="row--25-75">
          <div class="col">
            <div class="p-section--shallow">
              <h1>欢迎来到</h1>
              <h2>EVA2 汉化计划</h2>
              <h1>的官网</h1>
            </div>

            <div class="p-section--shallow">
              <ul class="p-inline-list u-no-margin--bottom">
                <li class="p-inline-list__item">
                  <a href="/" class="p-button--positive u-no-margin--bottom"
                    >下载补丁</a
                  >
                </li>
                <li class="p-inline-list__item">
                  <a
                    href="https://github.com/canonical/vanilla-framework/releases/latest"
                    class="p-button u-no-margin--bottom">贡献翻译</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </Layout>
  </body>
</html>
