---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob(["./posts/*.md", "./posts/*.mdx"]);
import icon from "./posts/assets/logo.png";
---

<Layout title="EVA2 汉化计划">
  <div id="main-content" class="p-section--hero">
    <div class="row--25-75">
      <div class="col">
        <img
          src={icon.src}
          alt="EVA2 汉化计划 Logo"
          style="max-width: 90px; min-width: 60px; width: 12vw; height: auto;"
        />
        <div>
          <div class="p-section--shallow" style="margin-bottom: 0.5rem;">
            <h1 style="margin-bottom: 0.2em;">欢迎来到</h1>
            <h2 style="margin-bottom: 0.2em;">EVA2 汉化计划</h2>
            <h1 style="margin-bottom: 0;">的官网</h1>
          </div>
          <div class="p-section--shallow">
            <ul class="p-inline-list u-no-margin--bottom">
              <li class="p-inline-list__item">
                <a
                  href="/nge_2_re/"
                  class="p-button--positive u-no-margin--bottom"
                  >下载补丁（暂不可用）</a
                >
              </li>
              <li class="p-inline-list__item">
                <a
                  href="/nge_2_re/contribute"
                  class="p-button u-no-margin--bottom">贡献翻译</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-strip">
    <div class="row">
      <div class="col-4">
        <h2>资源下载</h2>
      </div>
      <div class="p-card--highlighted col-4 col-medium-3">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            <img
              class="p-heading-icon__img"
              src="https://assets.ubuntu.com/v1/0276b842-github-icon.svg"
              alt="GitHub repo:"
            />
            <h3 class="p-heading-icon__title">汉化补丁</h3>
          </div>
          <p>获取最新的 EVA2 汉化补丁文件。</p>
          <p style="margin-bottom: 0px;">
            <a class="p-button" href="/nge_2_re/download">下载最新版本</a>
          </p>
          <small
            >查看 <a href="/nge_2_re/changelog">更新日志</a> 了解详情。</small
          >
        </div>
      </div>
      <div class="p-card--highlighted col-2 col-medium-3">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            <img
              class="p-heading-icon__img"
              src="https://assets.ubuntu.com/v1/c42ba977-figma-logo-o.svg"
              alt="Docs:"
            />
            <h3 class="p-heading-icon__title">使用说明</h3>
          </div>
          <p>了解如何安装和使用汉化补丁。</p>
          <p style="margin-bottom: 0px;">
            <a class="p-button" href="/nge_2_re/guide">查看使用指南</a>
          </p>
        </div>
      </div>
      <div class="p-card--highlighted col-2 col-medium-3">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            <img
              class="p-heading-icon__img"
              src="https://assets.ubuntu.com/v1/c42ba977-figma-logo-o.svg"
              alt="Docs:"
            />
            <h3 class="p-heading-icon__title">游戏存档</h3>
          </div>
          <p>下载其他玩家的游戏存档文件。</p>
          <p style="margin-bottom: 0px;">
            <a class="p-button" href="/nge_2_re/guide">查看存档列表</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="p-strip">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h2>相关文档</h2>
        <div class="p-card--highlighted">
          <h3 class="p-card__title">参与贡献</h3>
          <p class="p-card__description">我们欢迎任何人参与到翻译工作中来。</p>
          <a href="/nge_2_re/contribute">了解更多 &rsaquo;</a>
        </div>
      </div>
      <div class="col-8">
        <div id="articles" class="row">
          {
            allPosts.map((post) => (
              // /* 1. 增加 p-card 或 u-sv2 (垂直间距) 确保行与行之间有距离 */
              <article class="col-6" style="margin-bottom: 2rem;">
                {/* /* 2. 移除 h3 的默认下边距 */ }
                <h3 class="p-heading--4 u-no-margin--bottom">
                  <a href={post.url}>{post.frontmatter.title}</a>
                </h3>
                {/* /* 3. 这里的 p 已经有了 u-no-margin--bottom，保持不变 */}
                <p class="u-no-margin--bottom">
                  <small class="u-text--muted">
                    {post.frontmatter.description || "文档"}
                  </small>
                  <span class="p-badge" style="margin-left: 8px;">
                    {post.frontmatter.pubDate || "2024-01-01"}
                  </span>
                </p>
              </article>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
