---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="EVA2 汉化计划">
  <div id="main-content" class="p-section--hero">
    <div class="row--25-75">
      <div class="col">
        <div class="p-section--shallow">
          <h1>欢迎来到</h1>
          <h2>EVA2 汉化计划</h2>
          <h1>的官网</h1>
        </div>

        <div class="p-section--shallow">
          <ul class="p-inline-list u-no-margin--bottom">
            <li class="p-inline-list__item">
              <a href="/" class="p-button--positive u-no-margin--bottom"
                >下载补丁（暂不可用）</a
              >
            </li>
            <li class="p-inline-list__item">
              <a href="/contribute" class="p-button u-no-margin--bottom"
                >贡献翻译</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="p-strip">
    <div class="row">
      <div class="col-12">
        <hr />
        <h2>相关文档</h2>
      </div>
    </div>
    <div class="row u-equal-height">
      {
        allPosts.map((post) => (
          <div class="col-3 p-card--clickable">
            <a href={post.url} class="p-card__content">
              <h3 class="p-card__title">{post.frontmatter.title}</h3>
              <p class="p-card__description">
                {post.frontmatter.description || "点击阅读全文..."}
              </p>
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
