---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="EVA2 汉化计划">
  <div id="main-content" class="p-section--hero">
    <div class="row--25-75">
      <div class="col">
        <div class="p-section--shallow">
          <h1>欢迎来到</h1>
          <h2>EVA2 汉化计划</h2>
          <h1>的官网</h1>
        </div>

        <div class="p-section--shallow">
          <ul class="p-inline-list u-no-margin--bottom">
            <li class="p-inline-list__item">
              <a href="/nge_2_re/" class="p-button--positive u-no-margin--bottom"
                >下载补丁（暂不可用）</a
              >
            </li>
            <li class="p-inline-list__item">
              <a href="/nge_2_re/contribute" class="p-button u-no-margin--bottom"
                >贡献翻译</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="p-strip">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h2>相关文档</h2>
        <div class="p-card--highlighted">
          <h3 class="p-card__title">参与贡献</h3>
          <p class="p-card__description">
            我们欢迎任何人参与到翻译工作中来。
          </p>
          <a href="/nge_2_re/contribute">了解更多 &rsaquo;</a>
        </div>
      </div>
      <div class="col-8">
        <div id="articles" class="row">
          {
            allPosts.map((post) => (
              <article class="col-6 u-margin--bottom">
                <h3 class="p-heading--4">
                  <a href={post.url}>{post.frontmatter.title}</a>
                </h3>
                <p class="u-no-margin--bottom">
                  <span class="p-badge">
                    {post.frontmatter.date || "2024-01-01"}
                  </span>
                  <small class="u-text--muted">文档</small>
                </p>
              </article>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
