---
import Table from "../components/react/Table";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Status">
  <div class="l-docs">
    <div class="l-docs__main">
      <div class="p-section">
        <main class="u-fixed-width">
          <Table />
        </main>
      </div>
    </div>
  </div>
</Layout>
