[submodule "third_party/pspdecrypt"]
	path = third_party/pspdecrypt
	url = https://github.com/Linblow/pspdecrypt.git
[submodule "third_party/pgftool"]
	path = third_party/pgftool
	url = https://github.com/tpunix/pgftool.git
[submodule "resources/trans_pic"]
	path = resources/trans_pic
	url = https://github.com/xeonliu/nge_2_re_pics.git
