*.pyc
*.swp
*.COPYRIGHT.py
.DS_Store
unpacked
unpacked.unmodified
unpacked.staging
.vscode
.venv
EBOOT.BIN
game
chunk_*.json
target
Cargo.lock
crowdin
.idea
evs
new_pic
specs
poetry.lock
*.db
__pycache__